@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Exo-Regular.woff2);
} 
body{

}
.center-align{
	text-align: center;
}
.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}
/*.container{
	padding-right: 200px;
	padding-left: 200px;
	}
}*/
#start{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00897b;
	height: 100vh;
	width: 100%;
}
#start h1{
	position: fixed;
	transform: rotate(270deg);
	top: 43vh;
	left: -175px;
	transform: translateY(-50%),rotate(270deg);
	font-weight: bold;
	font-size: 60px;
	margin:0!important;
}
#start h2{
	position: absolute;
	font-size: 45px;
	top: 35vh;
	left: 60%;
	transform: translateX(-50%);
}
#start h4{
	position: absolute;
	font-size: 22px;
	top: 55vh;
	left: 68%;
	transform: translateX(-50%);
}
#start h1,#start h2,#start h4{
	font-family: exo;
}
header nav {
	position: fixed;
	transform: translateY(-50%);
	top: 50vh;
}
header nav img{
	width: 200px;
	
}
header > .innerbox {
	z-index: 9999999999;
    height: 100vh;
    background-color: #004d40;
    width: 200px;
    position: fixed;
    top: 0;
    left: 200px;
    overflow: hidden;    
}

header > div > nav > ul {
list-style: none;
padding: 0 !important;
}
header > div > nav > ul > a > li{
	padding: 15px 15px;
	width: 100%;
	transition: 0.3s all ease;
}
header > div > nav > ul > a > li:hover{
	background-color: #00897b;
}
header > div > nav > ul > a   {
	text-decoration: none;
	font-size: 20px;
	color : white;
	font-family: sans-serif;
	text-transform: uppercase;
} 
#section1{
	margin-top: 100vh;
	background-color: #80cbc4;
}

#section2{
	background-color: #004d40;
}
#section3{
	background-color: #80cbc4;
}
#section1,#section2,#section3{
	padding-left: 450px;
}
/*header{
	padding-top: 50px; 
}
header > nav {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: #424242; 
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
}
header > nav > ul {
	list-style: none;
	display: inline-block;
	float: right;		
}
header > nav > ul.container{
	padding-right: 400px;
}
header > nav > ul > li{
	float:left;

	transition: .3s all ease;
}
header > nav > ul > li:hover{
	background-color: #68B604;
}
header > nav > ul > li > a {
	display: block;
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 20px;
	font-family: exo;
}

header > nav > ul > li > a.active{
	background-color: #68B604;
}
#logo{
	margin: 7px 0;
}
#head {
	text-align: center;
	font-size: 50px;
	margin-bottom: 0;

}
#subhead{
	text-align: center;
	font-size: 40px;
	margin: 0px auto;

}
#author{
	font-size: 20px;
	text-align:right;
	margin: 0px auto;

}
#start{
	padding: 300px 0 ;
	background-color: #9e9e9e;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75);
}
#section1{
	background-color: #e0e0e0;

}
#section2{
	background-color: #9e9e9e;
	width: 100% !important;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75),inset 0px 85px 119px -90px rgba(0,0,0,0.75);;
}
#section3{
	background-color: #e0e0e0;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75);
}
#section3 table{
	border: none;
	width: 100%;
}
#section3 table tr th{
	text-align: left;
}
#section3 table tr:nth-child(odd){
	background-color: #9e9e9e;
}
h1,h2,h3,h4,h5{
	font-family: Exo;
	font-weight: bold;
}
p{
	font-family: sans-serif;
	text-align: justify-all;
	font-size: 18px;
}

section{
	padding: 200px 0;
}
section > .container > h3{
	font-size: 30px;
}
#update-link{
	margin-top: 100px;
}
#update-link a{
	padding: 25px;
	background-color: #424242;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 7px;
	font-family: exo;
	transition: .3s all ease;
}
#update-link a:hover{
	background-color: #68B604;
}
footer{
	text-align: center;
}*/