@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Exo-Regular.woff2);
} 
body{
	position: relative;
	top: 0;
}
.center-align{
	text-align: center;
}
.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}
.container{
	padding-right: 200px;
	padding-left: 200px;
}
* {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
header .container{
	padding: 0 !important;
	padding-left: 100px;
}
header a {
	margin-right: 10px;
}
nav {
  margin: 50px;
  display: table;
}
 nav > a{
 	display: table-cell;
 }
ul {
	display: table-cell;
  overflow: hidden;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 22px Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}
#start h1, #start h2, #start h4{
	font-family: exo;
}
#start h1{
	font-size: 48px;
}
#start h2{
	font-size: 36px;
}
#start h4{
	font-size: 20px;
}
hr{
	display: none;
}
header {
	float:  left;
	padding: 0 50px;
}
header img{
	padding-left: 100px;
	margin-right: 400px;
}
#start{

	background: url('http://cdn01.androidauthority.net/wp-content/uploads/2016/07/Samsung_Galaxy_Note_7-essential_built_in_wallpaper-silver.jpg'); 
	background-attachment: fixed;
	color: white;
	padding: 300px 0;

}
#section1,#section2,#section3{
	padding: 150px 0;
}
#section1{
	background-color: #f5f5f5;
}
#section1 h3, #section2 h3{
	font-size: 32px;
	margin-bottom: 40px;
	font-family: exo;
}
#section1 p, #section2 p{
	font-size: 18px;
	font-family: cursive;
}
#section1 img{
	margin-bottom: 40px;
}
#section2{
	background: url('http://cdn01.androidauthority.net/wp-content/uploads/2016/07/Samsung_Galaxy_Note_7-essential_built_in_wallpaper-silver.jpg'); 
	background-attachment: fixed;
	color: white;
	padding: 150px 0;
}
#section2 p{
	margin-bottom: 40px;
}
#section3 {
	background-color: #f5f5f5;
}
#section3 table{
	border: none;
	width: 100%;
}
#section3 table tr th{
	text-align: left;
}
#section3 table tr:nth-child(odd){
	background-color: #9e9e9e;
}
#update-link{
	margin-top: 100px;
}
#update-link a{
	padding: 25px;
	background-color: #424242;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 7px;
	font-family: exo;
	transition: .3s all ease;
}
#update-link a:hover{
	background-color:  #666;
}
footer{
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	color: #999;
}