@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Exo-Regular.woff2);
} 
body{
	position: relative;
	top: 0
}
.center-align{
	text-align: center;
}
.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}
.container{
	padding-right: 200px;
	padding-left: 200px;
}
header{
	padding-top: 50px; 
}
header > nav {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: #424242; 
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
}
header > nav > ul {
	list-style: none;
	display: inline-block;
	float: right;		
}
header > nav > ul.container{
	padding-right: 400px;
}
header > nav > ul > li{
	float:left;

	transition: .3s all ease;
}
header > nav > ul > li:hover{
	background-color: #68B604;
}
header > nav > ul > li > a {
	display: block;
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 20px;
	font-family: exo;
}

header > nav > ul > li > a.active{
	background-color: #68B604;
}
#logo{
	margin: 7px 0;
}
#head {
	text-align: center;
	font-size: 50px;
	margin-bottom: 0;

}
#subhead{
	text-align: center;
	font-size: 40px;
	margin: 0px auto;

}
#author{
	font-size: 20px;
	text-align:right;
	margin: 0px auto;

}
#start{
	padding: 300px 0 ;
	background-color: #9e9e9e;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75);
}
#section1{
	background-color: #e0e0e0;

}
#section2{
	background-color: #9e9e9e;
	width: 100% !important;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75),inset 0px 85px 119px -90px rgba(0,0,0,0.75);;
}
#section3{
	background-color: #e0e0e0;
	box-shadow:inset 0px -85px 119px -90px rgba(0,0,0,0.75);
}
#section3 table{
	border: none;
	width: 100%;
}
#section3 table tr th{
	text-align: left;
}
#section3 table tr:nth-child(odd){
	background-color: #9e9e9e;
}
h1,h2,h3,h4,h5{
	font-family: Exo;
	font-weight: bold;
}
p{
	font-family: sans-serif;
	text-align: justify-all;
	font-size: 18px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
section{
	padding: 200px 0;
}
section > .container > h3{
	font-size: 30px;
}
#update-link{
	margin-top: 100px;
}
#update-link a{
	padding: 25px;
	background-color: #424242;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 7px;
	font-family: exo;
	transition: .3s all ease;
}
#update-link a:hover{
	background-color: #68B604;
}
footer{
	text-align: center;
}