@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Exo-Regular.woff2);
} 
body{

}
.center-align{
	text-align: center;
}
.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}
#start{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00897b;
	height: 100vh;
	width: 100%;
}
#start h1{
	position: fixed;
	transform: rotate(270deg);
	top: 50vh;
	left: -425px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 250px;
	padding-left: 250px;
	transform: translateY(-50%) rotate(270deg);
	font-weight: bold;
	font-size: 60px;
	margin:0!important;
	background-color:#00897b; 
}
#start h2{
	position: absolute;
	font-size: 45px;
	top: 35vh;
	left: 60%;
	transform: translateX(-50%);
}
#start h4{
	position: absolute;
	font-size: 22px;
	top: 55vh;
	left: 68%;
	transform: translateX(-50%);
}
#start h1,#start h2,#start h4{
	font-family: exo;
}
header nav {
	position: fixed;
	transform: translateY(-50%);
	top: 50vh;
	overflow-x: hidden;  
}
header nav img{
	width: 200px;
	
}
header > .innerbox {
	z-index: 9999999999;
    height: 100vh;
    background-color: #004d40;
    width: 200px;
    position: fixed;
    top: 0;
    left: 200px;
    overflow-x: hidden;    
}

header > div > nav > ul {
list-style: none;
padding: 0 !important;
}
header > div > nav > ul > a > li{
	padding: 15px 15px;
	width: 100%;
	transition: 0.3s all ease;
}
header > div > nav > ul > a > li:hover{
	background-color: #00897b;
	/*background: #000;*/
}
header > div > nav > ul > a   {
	text-decoration: none;
	font-size: 20px;
	color : white;
	font-family: sans-serif;
	text-transform: uppercase;
} 
#section1{
	margin-top: 100vh;
	/*background-color: #80cbc4;*/
	background-color: #80cbc4    ;
}

#section2{
	background-color: #00897b;
}
#section3{
	background-color: #80cbc4;
	text-align: center;
}
#section1,#section2,#section3{
	padding-left: 450px;
	padding-top: 200px;
	padding-bottom: 200px;
	min-height: 50vh;
}
footer{
	padding-left: 450px;
	text-align: center;	
	background-color: #004d40;
	font-size: 18px;
	font-family: sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer a{
	font-weight: bold;
	color:white;
	text-decoration:none;
}
#section1 h3,#section2 h3,#section3 h3{
	font-size: 30px;
	text-align: center;
	font-family: exo;
}
#section1 p,#section2 p,#section3 p{
	font-size: 18px;
	font-family: cursive;
}
#section3 table{
	margin-left: 50%;
	transform: translateX(-50%);
	width: 75%;
	text-align: left;
}
#section3 table th{
	font-size: 25px;
}
#section3 table td{
	font-size: 25px;
}
#section3 table tr{
	transition: .4s all ease;
}
#section3 table tr:hover{
	background-color: #004d40 !important;
	cursor: pointer;
}
#section3 table tr:nth-child(odd){
	background-color: #00897b;
}
#update-link{
	display: inline-block;
	margin-top: 150px;
	padding: 20px 40px;
	background-color: #004d40;
	border-radius: 7px;
	transition: .3s all ease;
}
#section3 a{
	text-decoration: none;
	font-size: 30px;
	color: black;
	font-family: exo;
	font-weight: bolder;
}
#update-link:hover{
	color: black;
	background-color: #00897b;
}